{{#entries}}

<p>
<b>{{id}}</b><br>
{{message}}
</p>

{{/entries}}

<hr>

<form action="save" method="post">
<textarea cols="50" rows="10" name="message"></textarea>
<br>
<input type="submit" value="save" />
</form>